# Global code owners
* @erichamilt0n

# Frontend code
/src/ @erichamilt0n

# Configuration files
*.json @erichamilt0n
*.yml @erichamilt0n
*.yaml @erichamilt0n
*.config.js @erichamilt0n

# GitHub Actions workflows
/.github/workflows/ @erichamilt0n

# CircleCI configuration
/.circleci/ @erichamilt0n
