version: 2.1

orbs:
  node: circleci/node@5.1.0

executors:
  default:
    docker:
      - image: cimg/node:18.19.0
    resource_class: large

commands:
  install_dependencies:
    steps:
      - node/install-packages:
          pkg-manager: npm
          cache-path: ~/project/node_modules
          override-ci-command: npm ci

jobs:
  ci/circleci: lint:
    executor: default
    steps:
      - checkout
      - install_dependencies
      - run:
          name: Run ESLint
          command: npm run lint
      - run:
          name: Check Code Formatting
          command: npm run format:check

  ci/circleci: test:
    executor: default
    steps:
      - checkout
      - install_dependencies
      - run:
          name: Run Tests
          command: npm test

  ci/circleci: build:
    executor: default
    steps:
      - checkout
      - install_dependencies
      - run:
          name: Build Application
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - ci/circleci: lint:
          context: org-global
      - ci/circleci: test:
          context: org-global
          requires:
            - ci/circleci: lint
      - ci/circleci: build:
          context: org-global
          requires:
            - ci/circleci: test
